<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luxmeter</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <script src="/static/charts.js"></script>
</head>
<body>
<h1>Last sun measurements!</h1>
<main class="container">
        <div id="chart">
		<div class="center">
		Loading...
		</div>
	</div>
</main>
</body>
</html>
